/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .header-container {
    color: #5995DA;
    background-color: #417521;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header-container {
    color: white;
    background-color: #9e1161;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .header-container {
    color: white;
    background-color: #D6E9FE;
  }
}


body {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 18px;
}

ul {
  list-style-type: square;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.item {
  border: 1px solid #4b576e;
  width: 75%;
  height: 95%;
  padding: 20px;
}

.quote {
  width: 50%;
  height: 10%;
  padding: 10px;
  color: #417521;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;

}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact-item {
  text-align: center;
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 5%;
  flex: 1;
  padding: 20px;
  justify-content: space-between;
}
